%h1.text-center.mt-4 Nuevo Tipo de Documento de Identidad

= render 'form', identity_document_type: @identity_document_type

-# %div.mt-4
-#   = link_to 'Volver', identity_document_types_path, class: 'btn btn-secondary'
