%h1.text-center.mt-4 Nueva Township

%div.card.shadow.mt-4
  %div.card-header.bg-primary.text-white
    Crear Township
  %div.card-body
    = render 'form', township: @township

%div.mt-4
  = link_to 'Volver', townships_path, class: 'btn btn-secondary'
