%h1.text-center.mt-4 Detalle del Tipo de Facturación

%div.card.shadow.mt-4
  %div.card-header.bg-primary.text-white
    Detalles
  %div.card-body
    %p
      %strong Nombre:
      = @billing_type.name

%div.mt-4
  = link_to 'Editar', edit_billing_type_path(@billing_type), class: 'btn btn-warning btn-sm'
  = link_to "Eliminar", @billing_type, method: :delete, data: { turbo_method: "delete", confirm: "¿Estás seguro?" }, class: "btn btn-danger btn-sm"
  = link_to 'Volver', billing_types_path, class: 'btn btn-secondary btn-sm ml-2'
